//edito los colores que utilizo en todas las hojas
$color-header:  black;
$color-titulo-header: white;
$color-navbar: light;
$color-fondobanner: black;
$color-secciones: light;
$color-secciones-mod: #e8e8e8;
$color-footer: black;
$color-Shadow: gray;
